<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p align="center">
    <a th:href="@{/homeProvince}">
        Back to province list
    </a>
</p>
<p>Bạn có chắc muốn xoá không?</p>
<form method="post" th:object="${province}">
    <table >
        <td><lable>Name:</lable></td>
        <td th:text="*{nameProvince}"></td>
        <td>
            <button>Delete</button>
        </td>
    </table>
</form>
</body>
</html>