<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer detail</title>
</head>
<body>
<div>
    <h1>Delete customer</h1>
    <a href="/homePage">Back to customer list</a><br><br>
</div>
<div>
    <fieldset style="width: 40%">
        <legend>Information</legend>
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="${detailCustomer.nameCustomer}"></td>
            </tr>
            <tr>
                <td>Province:</td>
                <td th:text="${detailCustomer.province.nameProvince}"></td>
            </tr>
            <tr>
                <td></td>
                <td><img th:src="@{'/image/'+${detailCustomer.img}}" width="50px" height="50px"></td>
            </tr>
        </table>
    </fieldset>
</div>
</body>
</html>